body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #020617;
  color: white;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(0,0,0,0.7);
  position: fixed;
  width: 100%;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, #020617, #0f172a);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  padding: 12px 25px;
  background: #22c55e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 100px 20px;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  width: 250px;
  border-radius: 10px;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}